<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1009/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{136,56}}</string>
                <key>offset</key>
                <string>{46,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,196},{136,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,79},{130,132}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,146},{130,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,59},{122,192}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,131},{122,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1},{94,192}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,109},{94,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,63},{126,160}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,134},{126,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,81},{136,156}}</string>
                <key>offset</key>
                <string>{7,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,118},{136,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{28,78}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,199},{28,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1},{206,80}}</string>
                <key>offset</key>
                <string>{-48,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,167},{206,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,97},{196,144}}</string>
                <key>offset</key>
                <string>{-50,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,145},{196,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,87},{180,138}}</string>
                <key>offset</key>
                <string>{-31,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,135},{180,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,165},{164,158}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,129},{164,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,183},{160,182}}</string>
                <key>offset</key>
                <string>{24,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,113},{160,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{128,36}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,225},{128,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{164,60}}</string>
                <key>offset</key>
                <string>{-57,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,158},{164,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,39},{170,100}}</string>
                <key>offset</key>
                <string>{-62,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,145},{170,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1},{222,72}}</string>
                <key>offset</key>
                <string>{-41,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,150},{222,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,191},{218,166}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,131},{218,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,97},{146,190}}</string>
                <key>offset</key>
                <string>{45,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,119},{146,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1},{206,40}}</string>
                <key>offset</key>
                <string>{-45,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,206},{206,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,1},{104,76}}</string>
                <key>offset</key>
                <string>{-70,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,123},{104,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{50,90}}</string>
                <key>offset</key>
                <string>{-39,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,132},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1},{180,78}}</string>
                <key>offset</key>
                <string>{-45,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,125},{180,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,199},{168,186}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,137},{168,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{152,182}}</string>
                <key>offset</key>
                <string>{19,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,130},{152,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,53},{134,110}}</string>
                <key>offset</key>
                <string>{-47,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,152},{134,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,1},{132,84}}</string>
                <key>offset</key>
                <string>{10,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,114},{132,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,43},{122,100}}</string>
                <key>offset</key>
                <string>{16,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,121},{122,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1},{90,120}}</string>
                <key>offset</key>
                <string>{-14,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,89},{90,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,75},{122,206}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,148},{122,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>1009/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,83},{136,158}}</string>
                <key>offset</key>
                <string>{-7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,144},{136,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_1009@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df8dc9d3801320c244b4d96ad1579f35:dacc3a947de6a72dbd00aa6683cc7c9a:8c64eb43f2bb4584eea22f1e3f88522d$</string>
            <key>textureFileName</key>
            <string>s_1009@0.png</string>
        </dict>
    </dict>
</plist>
