<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,231},{96,156}}</string>
                <key>offset</key>
                <string>{16,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,179},{96,156}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1},{86,136}}</string>
                <key>offset</key>
                <string>{11,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,183},{86,136}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,153},{74,130}}</string>
                <key>offset</key>
                <string>{5,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,185},{74,130}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,205},{30,88}}</string>
                <key>offset</key>
                <string>{-16,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,227},{30,88}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{236,158}}</string>
                <key>offset</key>
                <string>{42,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,199},{236,158}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1},{134,150}}</string>
                <key>offset</key>
                <string>{79,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,205},{134,150}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,231},{110,142}}</string>
                <key>offset</key>
                <string>{83,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,209},{110,142}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,229},{110,66}}</string>
                <key>offset</key>
                <string>{83,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,285},{110,66}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{262,198}}</string>
                <key>offset</key>
                <string>{58,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,203},{262,198}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,239},{182,188}}</string>
                <key>offset</key>
                <string>{113,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,213},{182,188}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,237},{140,176}}</string>
                <key>offset</key>
                <string>{107,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,224},{140,176}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,341},{140,46}}</string>
                <key>offset</key>
                <string>{107,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,354},{140,46}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{204,228}}</string>
                <key>offset</key>
                <string>{59,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,243},{204,228}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{162,202}}</string>
                <key>offset</key>
                <string>{93,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,268},{162,202}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1},{128,160}}</string>
                <key>offset</key>
                <string>{80,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,306},{128,160}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,389},{128,80}}</string>
                <key>offset</key>
                <string>{80,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,386},{128,80}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,348.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,429},{74,280}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,235},{74,280}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,415},{72,226}}</string>
                <key>offset</key>
                <string>{-13,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,297},{72,226}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,163},{66,146}}</string>
                <key>offset</key>
                <string>{-11,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,361},{66,146}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1002/attack/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,139},{48,90}}</string>
                <key>offset</key>
                <string>{-2,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,417},{48,90}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_1002@0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf978e4652d28ab22b26aeda8469c403:8c00bddaddf9d671e6f08caedbfb814b:0f6358e70768901297867c3d1efdc9b9$</string>
            <key>textureFileName</key>
            <string>s_1002@0.png</string>
        </dict>
    </dict>
</plist>
