<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1003/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{74,186}}</string>
                <key>offset</key>
                <string>{35,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,85},{74,186}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1},{74,176}}</string>
                <key>offset</key>
                <string>{31,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,71},{74,176}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1},{72,170}}</string>
                <key>offset</key>
                <string>{29,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,56},{72,170}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,191},{176,172}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,128},{176,172}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,243},{176,174}}</string>
                <key>offset</key>
                <string>{30,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,117},{176,174}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,205},{176,172}}</string>
                <key>offset</key>
                <string>{49,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,109},{176,172}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,57},{206,128}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,159},{206,128}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,61},{206,128}}</string>
                <key>offset</key>
                <string>{55,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,159},{206,128}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,75},{208,128}}</string>
                <key>offset</key>
                <string>{97,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,159},{208,128}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{166,172}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,138},{166,172}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,77},{164,170}}</string>
                <key>offset</key>
                <string>{35,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,149},{164,170}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,187},{168,170}}</string>
                <key>offset</key>
                <string>{53,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,159},{168,170}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{3,3}}</string>
                <key>offset</key>
                <string>{-241.5,241.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,1},{50,210}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,124},{50,210}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1},{54,220}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,140},{54,220}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
            <key>1003/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1},{58,230}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,160},{58,230}}</string>
                <key>sourceSize</key>
                <string>{486,486}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_1003@0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dda652d72be3845c6bcbd3da85ae2c42:2f566a92f4777aab6745d522e237d58e:f941cfa3285a245576154129831a11d4$</string>
            <key>textureFileName</key>
            <string>s_1003@0.png</string>
        </dict>
    </dict>
</plist>
